:root{
    --color-bg: #1e2124;
    --color-light: #424549;
    --color-font: white;
}
body{
    padding: none;
    border: none;
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}
#main{
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 10px;
    justify-content: center;
    align-items: center;
}
#main > div{
    width: 100px;
    height: 100px;
    background-color: var(--color-light);
    color: var(--color-font);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
}
